*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to top left, #B8E7FA 0%, #E6E6FA 100%);
    /* padding: 20px; */
    
}

.container {
    height: full;
    width: full;
    overflow: hidden;
}

#site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#e3e8f3;
     background:#d3dffb;
    /* width: 1440px; */
    height: 112px;
    padding: 24px 72px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    font-size: 28px;
    font-weight: bold;
    color: #FFA500;
}

.button-one{
    background-color: #ffd000;
    padding: 17px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
    border:none;
}


#banner-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-banner{
    text-align: center;
    background: #e3e8f3;
    border-radius: 16px;
    padding: 60px 40px;
    margin-top: 100px;
    width: 1260px;
    max-width: 100%;
    /* width: 90%; */
    height: 592px;
    
}

/* .sub-banner {
  width: 100%;
  max-width: 1140px;
  margin: 100px auto 0 auto;
  padding: 60px 40px;
} */


.banner-image img {
    width:240.28px ;
    height:240px;
    /* margin-bottom: 20px; */
}

.banner-content-1 h1 {
    /* width: 979.4px; */
    /* height: 51.36px; */
    /* font-weight: bold; */
    font-size: 35px;
    margin-top: 32px;
}

.banner-content-1 P{
    margin-top:32px ;
}

.button-two{
    background-color:#ffd000;
    width: 248.74px;
    height: 48.32px;
    /* padding:10px 15px; */
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 32px;
    border:none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

#banner-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100PX;
}
.heading-content-1{
    text-align: center;
    margin-top: 48px;
    /* width: 852%; */
    /* height:124px */
   
}

.heading-content-1 p {
    margin-top:28px ;
}

.sub-banner-2{
    background:#e3e8f3 ;
    margin: 48px auto;
    width: 90%;
    width: 1200px;
    border-radius: 10px;
    max-width: 1260px;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sub-banner-2 p {
    width: 725px;
    height:26px;
    margin-top:16px ;
}

.button-three{
    background:#ffd000 ;
    width: 248.74px;
    height:64px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border:none;
}

#banner-3{
    text-align: center;
    padding: 0px 0px;
    margin-top: 100px;
    /* width: 1100px; */
    height: 792px;
}

/* .heading-content-4 {
    width:852px;
    height: 48px;
} */
 /* why i write this line */

.heading-content-2 p {
    font-size: 16px;
    font-family:'Azeret Mono', monospace;
    line-height: 26px;
    /* width: 852px; */
    height: 52px;
}

#banner-4{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 100PX;
    /* text-align: center; */
}

.heading-content-3{
    /* width: 852px; */
    height: 98px;
    /* line-height: 24px; */
    text-align: center;
    
}


.heading-content-3 p{
    margin-top: 24px;
}

.sub-banner-7{
    margin-top:48px;
    display: flex;
    
    /* width: 100%; */
    max-width: 1260px;
    margin-inline:auto ;
    justify-content: space-between;
    gap: 60px;
}



.sub-banner-5 {
    display: flex;
    justify-content: center;
    margin-top:48px;
    width: 1100px;
    height: 620px;
    padding: 32px 32px;
    border-radius: 16px;
    opacity: 100%;
    border: 1px solid rgb(186, 186, 186);
    margin-inline: auto;

}


.youtube-thumbnail img {
    width: 1036px;
    height: 556px;
    border-radius: 16px;
    opacity: 100%;
    /* margin: 32px 32px 32px 32px; */
    /* dont use margin becouse we are allready used paddnig in sub-banner-5 */
}

.service-card{
    background: linear-gradient(to bottom, #E6EDF9 0%, #9DE5FF 100%);
    width: 364px;
    height: 244px;
    padding: 40px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* .service-card {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;

} */

.card-container-1,
.card-container-2,
.card-container-3{
    line-height: 16px;
}

.card-container-1 h1,
.card-container-2 h1,
.card-container-3 h1{
    width: 284px;
    height: 36px;
    margin-top: 16px;
}

.card-container-1 p,
.card-container-2 p,
.card-container-3 p{
    width:284px;
    height:24px;
    font-weight:bold ;
    font-size: 16px;
}

#banner-5 {
    padding:32px 150px;
    background: #FFFFFF;
    margin-top: 100px;
}

.banner-content-3 {
    /* width:1140 px;
    height:36 px; */
    display: flex;
    justify-content: space-between;
}


.banner-content-3 h3 {
    /* width: 378px;
    height: 23px; */
    margin: 0;
    font-size: 20px;
    font-weight: 600px;
    font-family:'Azeret Mono', monospace;
    line-height: auto;
    letter-spacing:0%;

}

.social-icon{
    width: 157.01px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


